<main class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>SAMPLE PAGE</h2>
        </div>
        
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
            </div>
        </div>
    </div>
</main>

{{!-- page level script below --}}

</body>
</html>
