<!--Main layout--><!--Accordion wrapper-->
<main class="pt-5 mx-lg-5 accordion md-accordion" id="accordionCont" role="tablist" aria-multiselectable="true">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                <span>Manage Citizen</span>
                </h4>
                <section class="d-flex justify-content-center">
                    <button type="button" class="btn btn-primary">Check User</button>
                </section>
            </div>
        </div>
        <!-- Heading -->

        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="recordTableHeading">
                        <a data-toggle="collapse" data-parent="#accordionCont" href="#recordTable" aria-expanded="true"
                            aria-controls="recordTable">
                            <h5 class="mb-0 text-dark">
                            Manage Citizen Records <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="recordTable" class="collapse show" role="tabpanel" aria-labelledby="recordTableHeading"
                    data-parent="#accordionCont">
                        <div class="card-body">
                            <table class="table table-hover">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4">
                                <tr>
                                    <th>#</th>
                                    <th>Surname</th>
                                    <th>Firstname</th>
                                    <th>Middlename</th>
                                    <th>Dat of Birth</th>
                                    <th>Gender</th>
                                    <th>NIN</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!--Main layout-->

{{> footer }}

{{!-- page level js below --}}
<script>
    var editedID;
    var citizens = [];

    function loadCitizen(){
        return new Promise((resolve,reject)=>{
            fetch('/api/getAll/mode=citizen&code=nimc', {
                method: 'GET',
            }).then(response => response.json())
            .then((res)=>{
                if(res.status == "success"){
                    resolve(res.data);
                }
                reject([]);
            });
        });        
    }

    const drawTable = () => {  
        loadCitizen().then((data)=>{
            var table = $('table tbody');   
            table.html('');
            citizens = data;
            if(!data.length) return false;  
            
            //auth user 
            const { role } = $('#auth_user').data();

            data.forEach(({ surname, firstname, middlename, nin, dob, address, status, id, gender },index)=>{ 
                let tr = '';
                if(role == 'admin'){
                    switch(status){
                        case 'pending':
                            tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                            <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                            <td>
                                <button class="btn btn-success btn-sm my-0 p waves-effect waves-light approve">Approve</button>
                                <button class="btn btn-danger btn-sm my-0 p waves-effect waves-light reject">Reject</button>
                            </td></tr>`;
                        break;
                        case 'reject':
                            tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                            <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                            <td>
                                <button class="btn btn-success btn-sm my-0 p waves-effect waves-light edit">Edit</button>
                                <button class="btn btn-danger btn-sm my-0 p waves-effect waves-light remove">Remove</button>
                            </td></tr>`;
                        break;
                        case 'approved':
                            tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                            <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                            <td></td></tr>`;
                        break;
                    }  
                }else{ //staff
                    tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                    <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                    <td class="text-center text-danger"><span class="fas fa-ban"></span></td></tr>`;
                }
                               
                table.append(tr);
            });
        })        
    }

    $('[name="save"]').click(function(e){
        e.preventDefault();
        const surname = $('#surname').val();
        const firstname = $('#firstname').val();
        const middlename = $('#middlename').val();
        const dob = $('#dob').val();
        const nin = $('#nin').val();
        const address = $('#address').val();
        const gender = $("input[type='radio'][name='gender']:checked").val();

        if(!surname || !firstname || !dob || !nin || !address) return alert('Empty field not allowed');

        const code = 'nimc';
        const mode = 'citizen';
        const citizen = { surname, firstname, middlename, dob, nin, address, gender};
        const postObj = { code, citizen, mode };

        fetch('/api/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(postObj)
        }).then(response => response.json())
        .then((data)=>{
            if(data.status == "success"){
                $('#clearform').trigger('click');
                window.location.reload();
                return alert(data.message);
            }
            return alert(data.message);
        })
    });

    $('[name="update"]').click(function(e){
        e.preventDefault();
        const id = editedID;
        const surname = $('#surname').val();
        const firstname = $('#firstname').val();
        const middlename = $('#middlename').val();
        const dob = $('#dob').val();
        const nin = $('#nin').val();
        const address = $('#address').val();
        const gender = $("input[type='radio'][name='gender']:checked").val();

        if(!surname || !firstname || !dob || !nin || !address) return alert('Empty field not allowed');

        const code = 'nimc';
        const mode = 'citizen';
        const detail = { id, surname, firstname, middlename, dob, nin, address, gender};
        const postObj = { code, detail, mode };

        console.log(postObj);
        fetch('/api/updateOne', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(postObj)
        }).then(response => response.json())
        .then((data)=>{
            if(data.status == "success"){
                $('#clearform').trigger('click');
                window.location.reload();
                editedID = null;
                return alert(data.message);
            }
            return alert(data.message);
        })
    });

    $('#clearform').click(function(e){
        e.preventDefault();
        $('input','textarea').val('');
        $('[name="update"]').addClass('d-none');
        $('[name="save"]').removeClass('d-none');
    });

    $('#generateNIN').click(function(){
        $('#nin').val(new Date().getTime());
    });

    $('body').on('click','.remove', function(){
        const id = $(this).closest('tr').data('id');
        const code = 'nimc';
        const mode = 'citizen';

        if(!confirm('Are you sure')) return false;        

        fetch('/api/deleteOne', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ code, mode, id })
        }).then(response => response.json())
        .then((data)=>{
            if(data.status == "success"){
                $('#clearform').trigger('click');
                window.location.reload();
                editedID = null;
                return alert(data.message);
            }
            return alert(data.message);
        });
    });

    $('body').on('click','.edit', function(){
        
        window.scrollTo(0,0);
        
        editedID = $(this).closest('tr').data('id');
        console.log(citizens, editedID);
        var { surname, firstname, middlename, dob, nin, address, gender } = citizens.find( c => c.id == editedID)

        $('#surname').val(surname);
        $('#firstname').val(firstname);
        $('#middlename').val(middlename);
        $('#dob').val(dob);
        $('#nin').val(nin);
        $('#address').val(address);

        (gender && gender == 'Male') ? $("#male").prop('checked') : $("#female").prop('checked');
        //toggle
        $('[name="update"]').removeClass('d-none');
        $('[name="save"]').addClass('d-none');
    });

    drawTable();

</script>
