<!--Main layout--><!--Accordion wrapper-->
<main class="pt-5 mx-lg-5 accordion md-accordion" id="accordionCont" role="tablist" aria-multiselectable="true">
    <div class="container-fluid mt-5">

        <!-- Heading -->
        <div class="card mb-4 wow fadeIn">
            <div class="card-body d-sm-flex justify-content-between">
                <h4 class="mb-2 mb-sm-0 pt-1">
                <span>Manage Citizen</span>
                </h4>
                
            </div>
        </div>
        <!-- Heading -->

        <div class="row wow fadeIn">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="recordTableHeading">
                        <a data-toggle="collapse" data-parent="#accordionCont" href="#recordTable" aria-expanded="true"
                            aria-controls="recordTable">
                            <h5 class="mb-0 text-dark">
                            Manage Citizen Records <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>
                    <!-- Card body -->
                    <div id="recordTable" class="collapse show" role="tabpanel" aria-labelledby="recordTableHeading"
                    data-parent="#accordionCont">
                        <div class="card-body">
                            <table class="table table-hover">
                                <!-- Table head -->
                                <thead class="blue-grey lighten-4">
                                <tr>
                                    <th>#</th>
                                    <th>Surname</th>
                                    <th>Firstname</th>
                                    <th>Middlename</th>
                                    <th>Dat of Birth</th>
                                    <th>Gender</th>
                                    <th>NIN</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<!--Main layout-->

{{> footer }}

{{!-- page level js below --}}
<script>
    var editedID;
    var citizens = [];

    function loadCitizen(){
        return new Promise((resolve,reject)=>{
            fetch('/api/getAll/mode=citizen&code=nimc', {
                method: 'GET',
            }).then(response => response.json())
            .then((res)=>{
                if(res.status == "success"){
                    resolve(res.data);
                }
                reject([]);
            });
        });        
    }

    const drawTable = () => {  
        loadCitizen().then((data)=>{
            var table = $('table tbody');   
            table.html('');
            citizens = data;
            if(!data.length) return false;  
            
            //auth user 
            const { role } = $('#auth_user').data();

            data.forEach(({ surname, firstname, middlename, nin, dob, address, status, id, gender },index)=>{ 
                let tr = '';
                if(role == 'admin'){
                    switch(status){
                        case 'pending':
                            tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                            <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                            <td>
                                <button class="btn btn-success btn-sm my-0 p waves-effect waves-light approve">Approve</button>
                                <button class="btn btn-danger btn-sm my-0 p waves-effect waves-light reject">Reject</button>
                            </td></tr>`;
                        break;
                        case 'reject':
                        case 'approved':
                            tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                            <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                            <td></td></tr>`;
                        break;
                    }  
                }else{ //staff
                    tr = `<tr data-id="${id}" data-addr="${address}"><td>${index + 1}</td><td>${surname}</td><td>${firstname}</td><td>${middlename}</td>
                    <td>${dob}</td><<td>${gender ? gender : "N/A"}</td><td>${nin}</td><td>${status}</td>
                    <td class="text-center text-danger"><span class="fas fa-ban"></span></td></tr>`;
                }
                               
                table.append(tr);
            });
        })        
    }

    $('body').on('click','.approve', function(){
        //this action calls blockcahin
        const id = $(this).closest('tr').data('id');
        const code = 'nimc';
        const mode = 'citizen';

        if(!confirm('Are you sure')) return false;        

        fetch('/api/approveOn', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ code, mode, id })
        }).then(response => response.json())
        .then((data)=>{
            if(data.status == "success"){
                $('#clearform').trigger('click');
                window.location.reload();
                editedID = null;
                return alert(data.message);
            }
            return alert(data.message);
        });
    });

    drawTable();

</script>
