
  <!--Footer-->
  <!-- <footer class="page-footer text-center font-small primary-color-dark darken-2 mt-4 wow fadeIn">
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="#" >  </a>
    </div>
  </footer> -->
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="asset/js/jquery.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="asset/js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="asset/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="asset/js/mdb.min.js"></script>
  <!-- Master JS -->
  <script type="text/javascript" src="asset/js/master.js"></script>
</body>
</html>