<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{page_title}}</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="asset/css/bootstrap.min.css" rel="stylesheet">
  <!-- Online Assignment -->
  <link href="asset/css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="asset/css/style.css" rel="stylesheet">
</head>

<body class="grey lighten-3">
  <!--Main Navigation-->
  <header>

    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
      <div class="container-fluid">

        <!-- Brand -->
        <a class="navbar-brand waves-effect" href="/" >
          <strong class="blue-text">Decentralized citizen</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Left -->
          <ul class="navbar-nav mr-auto">
          </ul>

          <!-- Right -->
          <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item pr-2">
              <p>Welcome Admin</p>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0);">Logout</a>
            </li>
          </ul>

        </div>

      </div>
    </nav>
    <!-- Navbar -->

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

      <a class="logo-wrapper waves-effect">
        <img src="asset/img/logo.jpg" class="img-fluid" alt="">
      </a>

      <div class="list-group list-group-flush">
        <a href="/online_assignment/admin/dashboard" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Manage Assignment
        </a>        
        <a href="/online_assignment/admin/submissions" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-table mr-3"></i>Submissions</a>
        <a href="/online_assignment/admin/students" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user mr-3"></i>My Students</a>  
        <a href="/online_assignment/admin/courses" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-book mr-3"></i>My Assigned Courses</a>     
        <a href="/online_assignment/admin/faculty" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-building mr-3"></i>Faculty/Institute</a>  
        <a href="/online_assignment/admin/departments" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-building mr-3"></i>Departments</a>        
        <a href="/online_assignment/admin/levels" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-building mr-3"></i>Lecture rooms</a>     
      </div>

    </div>
    <!-- Sidebar -->

  </header>
  <!--Main Navigation-->