<div class="card-body px-0">
    <div class="d-flex flex-row flex-wrap mb-2">
        <div class="col-md-4 mb-3">
            <ul class="list-group col-12 my-3" style="min-height: 400px;">
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">Total SSOID Generated <span class="total-count font-weight-normal">0</span></li>
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">Overal Time used (s)<span class="time-count font-weight-normal">0</span></li>
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">Number of success <span class="success-count font-weight-normal">0</span></li>
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">Number of failure <span class="failure-count font-weight-normal">0</span></li>
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">% Success <span class="percent-count font-weight-normal">0</span></li>                                            
                <li class="list-group-item d-flex flex-row justify-content-between font-weight-bold">% Failure <span class="percentf-count font-weight-normal">0</span></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="chartdiv" id="ssochart" style="min-height: 400px;"></div>
        </div>
    </div>
    <table class="table table-bordered">
        <!-- Table head -->
        <thead class="blue-grey lighten-4">
            <tr>
                <th>Organization</th>
                <th>SSO-ID Generated</th>
                <th>Duration</th> 
                <th>Success</th>
                <th>Failure</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>