<table class="table table-bordered">
    <!-- Table head -->
    <thead class="blue-grey lighten-4">
        <tr>
            <th>Organization</th>
            <th>SSO-ID Generated</th>
            <th>Duration</th> 
            <th>Success</th>
            <th>Failure</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>