<div class="sidebar-fixed position-fixed">

    <a class="logo-wrapper waves-effect">
    <img src="asset/img/logo.png" class="img-fluid" alt="">
    </a>

    <div class="d-flex justify-content-center">
        <p>Welcome {{ user.role }}</p>
    </div>

    {{#if user.isAdmin }}
    <div class="list-group list-group-flush">
        {{!-- dashboard contain summary --}}
        <a href="/dashboard" class="list-group-item list-group-item-action active waves-effect">
            <i class="fas fa-chart-pie mr-3"></i>Dashboard 
        </a> 
        {{!-- manage citizen contains records created by the organization --}}
        <a href="/manage_citizen" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-chart-pie mr-3"></i>Manage Citizen
        </a>        
        {{!-- register/verify citizen citizen  --}}
        <a href="/register" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-table mr-3"></i>Register Citizen</a>
        {{!-- create and manage staff --}}
        <a href="/staff" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-user mr-3"></i>Staff</a>  
        {{!-- view all blocks copy of the organization node --}}
        <a href="/my_nodes" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-book mr-3"></i>My Nodes</a> 
         {{!--view all blocks on all nodes  --}}
        <a href="/all_nodes" class="list-group-item list-group-item-action waves-effect">
            <i class="fas fa-book mr-3"></i>All Nodes</a>      
    </div>
    {{else}}
        <div class="list-group list-group-flush">
            {{!-- dashboard contain summary --}}
            <a href="/dashboard" class="list-group-item list-group-item-action active waves-effect">
                <i class="fas fa-chart-pie mr-3"></i>Dashboard 
            </a> 
            {{!-- manage citizen contains records created by the organization --}}
            <a href="/manage_citizen" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-chart-pie mr-3"></i>Manage Citizen
            </a>        
            {{!-- register/verify citizen citizen  --}}
            <a href="/register" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-table mr-3"></i>Register Citizen</a>    
        </div>
    {{/if}}

</div>