{{> header }}

<body class="theme-teal">

<!-- Page Loader -->
{{> loader }}
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Search Bar -->
{{> searchbar }}
<!-- #END# Search Bar -->

<!-- Top Bar -->
{{> navbar }}
<!-- #Top Bar -->

<section>
<!-- #END# Left Sidebar -->
{{> sidebar }}
<!-- Right Sidebar -->
<!-- #END# Right Sidebar -->
</section>

{{{body}}}

{{!-- pages should include  --}}